
header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	font-size: 30px;
	text-align: center;
	float: left;
	background-color: #4aaaa5;
	margin-top: 20px; 
	margin-left: 200px;
	padding: 40px;
}
nav{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	border-right: 1px solid #000000;
}
ul {
	padding-left: 68%;
}
a {
	list-style-type: none;
	text-decoration: none;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
}

#about {
	display: inline-flex;
	padding-left: 10px;
	font-size: 20px;
	margin-top: 70px;
}

#portfolio {
	display: inline-flex;
	padding-left: 12px;
	font-size: 20px;
	margin-top: 70px;
}

#contact{
	display: inline-flex;
	padding-left: 12px;
	font-size: 20px;
	margin-top: 70px;
}
/*This Sets the Line Under About Me*/
.line {
	border-right:.5px solid #777777;
	padding-right: 20px;
}
/*This Sets the Background Image and Styling around the About Me Box*/
.background{
	background-image: url(../images/background.png);
	display: flex;
	flex-wrap: wrap;
	margin-top: auto;
	width: 100%;
	height: 70%;
	border-bottom: 10px solid #4aaaa5;
}
section {
	display: flex;
	background-color: white;
	border: 2px solid #777777;
	margin-top: 6%; 
	margin-left: 200px;
	width: 50%;
	height: 70%;
	padding: 20px;
}
#h1{
	font-size: 30px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
	text-align: left;
	margin-top: .5%;
	padding-left: 1%;
	padding-bottom: 2%;
	border-bottom: 2px solid #777777;
}
.img {
	float: left;
	margin-top: 2%;
	height: 50%;
	width: 10%
	padding: 6%;
	padding-right: 3%;
}
p {
	float:left: 
	margin-top: 20%;
}

aside {
	float: left;
	background-color: white;
	border: 2px solid #777777;
	margin-top: 6%; 
	margin-left: 5%;
	width: 20%;
	height: 35%;
	padding: 20px;
}
#h2{	
	font-size: 20px;
	font-stretch: all;
	font-style: italic;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
	text-align: center;
	margin-top: .5%;
	padding-left: 1%;
	padding-bottom: 8%;
	border-bottom: 1px solid #777777;

}
#h2git {
	float: left;
	max-width: 35%;
	max-height: 40%;
	padding-top: 30px;
	padding-left: 15%;
}
#h2stack{
	float: left;
	max-width: 35%;
	max-height: 65%;
	padding-top: 9px;
	padding-left: 19px;
}
#h2lin{
	float: left;
	max-width: 40%;
	max-height: 50%;
	padding-top: 9px;
	padding-left: 2px;
}
footer{
	display: flex;
	text-align: center;
	background-color: grey;
	margin-top: auto;
	padding-top: 3%; 
	width: 100%;
	height: 15%;

}
